:root {
    --Basic_color:#A259FF;
    --Background:#2B2B2B;
}

@font-face {
    font-family: fontSans;
    font-style: normal;
    font-weight: 900;
    src: url('../font/WorkSans-Black.ttf') , format('ttf');
}

@font-face {
    font-family: fontSans;
    font-style: normal;
    font-weight: 700;
    src: url('../font/WorkSans-Bold.ttf') , format('ttf');
}

@font-face {
    font-family: fontSans;
    font-style: normal;
    font-weight: 400;
    src: url('../font/WorkSans-Medium.ttf') , format('ttf');
}

.fontSans {
    font-family: fontSans;
}

body {
    font-family: fontSans;
}

.background_color{
    background-color: var(--Background);
}
.text_bg_color{
    color: var(--Background);
}

.background_color_two {
    background-color: #3B3B3B;
}

.bg_color_basic{
    background-color: var(--Basic_color);
}

.text_color_basic{
    color: var(--Basic_color);
}

.nav-link.active{
    background-color: var(--Background);
}

.text-light-50{
    color: #e4e4e4c9;
}

#offcanvas-box {
    background-color: var(--Basic_color);
}
#title {
    font-weight: 700; font-size: 60px;
}

@media only screen and (max-width:991.80px) {
    .fs_title {
        font-size: 50px !important;
    }
    .fs_text{
        font-size: 1.125rem !important;
    }
    .card_size {
        width: 510px !important;
    }
}

@media only screen and (max-width:768.80px) {
    .fs_title {
        font-size: 45px !important;
    }
    .fs_text{
        font-size: 1.125rem !important;
    }
    .card_size{
        width: 410px !important;
    }
}

@media only screen and (max-width:576.80px) {
    .card_size{
        width: 280px !important;
    }

    .f_size_title {
        font-size: 30px !important;
    }

    .f_size_subtitle {
        font-size: 17px !important;
    }

    .f_size_text {
        font-size: 14px !important;
    }
}

@media only screen and (max-width:376.80px) {
    .p_y_nav {
      padding-top: 14px !important;  
      padding-bottom: 14px !important;
    }

    .card_size {
        width: 220px !important;
    }

    .p_y_card {
        padding-top: 14px !important;
        padding-bottom: 14px !important;
    }

    .f_size_brand {
        font-size: 18px !important;
    }

    .logo_size {
        width: 24px;
    }

    .fs_title {
        font-size: 24px !important;
    }

    .f_size_subtitle{
        font-size: 14px !important;
    }

    .f_size_text {
        font-size: 12px !important;
    }

    .f_size_text_num {
        font-size: 20px !important;
    }

    .f_size_btn {
        font-size: 15px !important;
    }
}

@media only screen and (max-width:318.80px) {
    .card_size {
        width: 190px !important;
    }

    .f_size_brand {
        font-size: 12px !important;
    }

    .logo_size {
        width: 22px;
    }

    .fs_title {
        font-size: 22px !important;
    }

    .f_size_subtitle{
        font-size: 12px !important;
    }

    .f_size_text {
        font-size: 10px !important;
    }

    .f_size_btn {
        font-size: 13px !important;
    }

    .f_size_btn_icon {
        width: 15px !important;
    }

    .f_size_text_num {
        font-size: 18px !important;
    }

    .f_size_text_card_one {
        font-size: 14px !important;
    }

    .f_size_text_card_two {
        font-size: 12px !important;
    }

    .size_img_card {
        width: 17px !important;
    }

    .p_y_card {
        padding-top: 12px !important;
        padding-bottom: 12px !important;
    }
}

/* @media only screen and (max-width:396.80px) {
    .f_size_brand_xs{
        font-size: 17px;
    }

    .card_size_sm {
        width: 220px !important;
    }

    .f_size_text_sm {
        font-size: 12px !important;
    }

    .f_size_btn_xs {
        font-size: 14px !important;
    }
} */

/* 834 */
/* 1280 */
/* 375 */