:root {
    --Basic_color:#A259FF;
    --Background:#2B2B2B;
}

@font-face {
    font-family: fontSans;
    font-style: normal;
    font-weight: 900;
    src: url('../font/WorkSans-Black.ttf') , format('ttf');
}

@font-face {
    font-family: fontSans;
    font-style: normal;
    font-weight: 700;
    src: url('../font/WorkSans-Bold.ttf') , format('ttf');
}

@font-face {
    font-family: fontSans;
    font-style: normal;
    font-weight: 400;
    src: url('../font/WorkSans-Medium.ttf') , format('ttf');
}

.fontSans {
    font-family: fontSans;
}

body {
    font-family: fontSans;
}

.background_color{
    background-color: var(--Background);
}
.text_bg_color{
    color: var(--Background);
}

.background_color_two {
    background-color: #3B3B3B;
}

.bg_color_basic{
    background-color: var(--Basic_color);
}

.text_color_basic{
    color: var(--Basic_color);
}

.nav-link.active{
    background-color: var(--Background);
}

.text-light-50{
    color: #e4e4e4c9;
}

#offcanvas-box {
    background-color: var(--Basic_color);
}
#title {
    font-weight: 700; font-size: 60px;
}

@media only screen and (max-width:991.80px) {
    .fs_title_991 {
        font-size: 50px !important;
    }
    .fs_text_991{
        font-size: 1.125rem !important;
    }
    .card_size_lg {
        width: 510px !important;
    }
}

@media only screen and (max-width:768.80px) {
    .fs_title_991 {
        font-size: 45px !important;
    }
    .fs_text_991{
        font-size: 1.125rem !important;
    }
    .card_size{
        width: 410px !important;
    }
}

/* 834 */
/* 1280 */
/* 375 */