:root {
    --Basic_color:#A259FF;
    --Background:#2B2B2B;
}

@font-face {
    font-family: fontSans;
    font-style: normal;
    font-weight: 900;
    src: url('../font/WorkSans-Black.ttf') , format('ttf');
}

@font-face {
    font-family: fontSans;
    font-style: normal;
    font-weight: 700;
    src: url('../font/WorkSans-Bold.ttf') , format('ttf');
}

@font-face {
    font-family: fontSans;
    font-style: normal;
    font-weight: 400;
    src: url('../font/WorkSans-Medium.ttf') , format('ttf');
}

.fontSans {
    font-family: fontSans;
}

body {
    font-family: fontSans;
}

.background_color{
    background-color: var(--Background);
}
.text_bg_color{
    color: var(--Background);
}

.background_color_two {
    background-color: #3B3B3B;
}
.text_color_two {
    color: #3B3B3B;
}

.bg_color_basic{
    background-color: var(--Basic_color);
}

.bg_outline_basic {
    border: 2px solid #A259FF;
    color: #fff;
    transition: background-color 300ms;
}
.bg_outline_basic:hover {
    background-color: var(--Basic_color);
}

.text_color_basic{
    color: var(--Basic_color);
}

.nav-link.active{
    background-color: var(--Background);
}

.text-light-50{
    color: #e4e4e4c9;
}

.badge_style {
    top: 18px !important;
    left: 20px !important;
    font-size: 18px !important;
}

.img_size_card_top_creators{
    width: 100% !important;
}

.title_top_creators{
    max-width: 100% !important;
}

.fs_creators_title {
    font-size: 22px !important;
}
.fs_creators_subtitle {
    font-size: 14px !important;
}

.fs_btn_creators {
    font-size: 20px !important;
}

.fs_icon_btn_creators {
    width: 20px;
}

#offcanvas-box {
    background-color: var(--Basic_color);
}
#title {
    font-weight: 700; font-size: 60px;
}

@media only screen and (max-width:1199.80px) {
    .img_size_card_top_creators{
        width: 80px !important;
    }
    .box_items_creators {
        width: 100% !important;
    }
    .fs_creators_title {
        font-size: 22px !important;
    }
    .fs_creators_subtitle {
        font-size: 14px !important;
    }
    .badge_style {
        top: 14px !important;
        left: 4px !important;
        font-size: 18px !important;
    }
}

@media only screen and (max-width:991.80px) {
    .fs_title {
        font-size: 50px !important;
    }
    .fs_text{
        font-size: 1.125rem !important;
    }
    .card_size {
        width: 510px !important;
    }
    .img_size_card_top_creators{
        width: 60px !important;
    }
    .fs_creators_title {
        font-size: 18px !important;
    }
    .fs_creators_subtitle {
        font-size: 11px !important;
    }
    .badge_style {
        top: 18px !important;
        left: 4px !important;
        font-size: 14px !important;
    }
    .fs_btn_creators {
        font-size: 14px !important;
    }
    .title_top_creators{
        max-width: 50% !important;
    }
}

@media only screen and (max-width:768.80px) {
    .fs_title {
        font-size: 45px !important;
    }
    .fs_text{
        font-size: 1.125rem !important;
    }
    .card_size{
        width: 410px !important;
    }
    /* .d_center {
        display: flex !important;
        justify-content: center;
    } */
    .title_sub_text {
        font-size: 28px !important;
    }
    .sub_text {
        font-size: 18px !important;
    }
    .wrap_flex {
        flex-wrap: wrap;
    }
    .title_top_creators{
        max-width: 50% !important;
    }
}

@media only screen and (max-width:576.80px) {
    .f_size_title {
        font-size: 30px !important;
    }

    .p_y_nav {
        padding-top: 14px !important;  
        padding-bottom: 14px !important;
      }
  
      .card_size {
          width: 280px !important;
      }
  
      .p_y_card {
          padding-top: 14px !important;
          padding-bottom: 14px !important;
      }
  
      .f_size_brand {
          font-size: 22px !important;
      }
  
      .logo_size {
          width: 26px;
      }
  
      .fs_title {
          font-size: 32px !important;
      }
  
      .f_size_subtitle{
          font-size: 20px !important;
      }
  
      .f_size_text {
          font-size: 16px !important;
      }
  
      .f_size_text_num {
          font-size: 24px !important;
      }
  
      .f_size_btn {
          font-size: 20px !important;
      }
      .title_sub_text {
        font-size: 24px !important;
      }
      .sub_text {
        font-size: 16px !important;
      }
      .fs_btn_creators {
        font-size: 22px !important;
      }
      .title_top_creators{
          max-width: 90% !important;
      }
}

/* 834 */
/* 1280 */
/* 375 */